@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rama Gothic';
    src: url('../public/fonts/Rama-Gothic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  